<footer>
    <div class="footer-container">
        <div class="footer-description">
            <p>Projeto desenvolvido por/Project developed by:<span><br>Josther Sampaio Fontes</span></p>
            <p>All Contents Copyright 2022 Josther Sampaio Fontes. All Rights Reserved</p>
        </div>
    </div>
</footer>