<div class="status-404">
    <h1>Projeto não Encontrado</h1>
    <p>Shiiii!!! Não vamos acorda-los &#x1F634</p>
    <figure>
        <img src="/images/status 404.webp" alt="404 error">
    </figure>
</div>