@import url('Animation.css');
@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url('/images/03.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

/* MAIN - CONTAINER 1 */

section.container-1{
    margin-bottom: 30px;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* DESIGN */
    text-align: center;
}

div.project-name{
    margin-top: 30px;
    font-size: 30px;
}

div.project-image{
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 30px;
    overflow: hidden;
}

div.project-image figure{
    display: contents;
}

div.project-image img{
    width: 100%;
    height: 100%;
}

div.project-desc{
    width: 80%;
    padding-bottom: 20px;
    /* DESIGN */
    border-bottom: 1px solid #000000;
}

/* MAIN - CONTAINER 2 */

section.container-2{
    margin-bottom: 30px;
}

div.used-techs h1{
    text-align: center;
}

div.tech-images{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin: 30px;
}

div.tech-images img{
    width: 150px;
}

div.project-links h1{
    margin-bottom: 30px;
    /* DESIGN */
    text-align: center;
}

div.project-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.project-buttons a{
    text-decoration: none;
    color:unset;
}

div.project-buttons a:visited{
    color: unset;
}

div.site, div.github{
    width: 250px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* DESIGN */
    background-color: #eeeeee;
    border: 1px solid #000000;
    border-radius: 20px;
}

div.site:not(div.github){
    margin-right: 30px;
}

figure.site-icon, figure.github-icon{
    width: 50px;
    height: 50px;
}

figure.site-icon svg, figure.github-icon svg{
    width: inherit;
    height: inherit;
}

figure.site-icon image, figure.github-icon image{
    width: inherit;
}

/* MAIN - CONTAINER 3 */

section.container-3{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

div.new-releases{
    width: 80%;
    /* DESIGN */
    text-align: center;
}

div.new-releases h1{
    margin-bottom: 20px;
}

div.new-releases ul{
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
    /* DESIGN */
    list-style: none;
}

/* STATUS 404 */

div.status-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

div.status-404 h1, div.status-404 p{
    margin-bottom: 10px;
}

div.status-404 figure{
    width: 800px;
    /* DESIGN */
    border: 1px solid #000000;
    border-radius: 20px;
    overflow: hidden;
}

div.status-404 img{
    width: 100%;
}

/* FOOTER */

div.footer-container{
    padding: 20px;
    /* DESIGN */
    text-align: center;
    border-top: 1px solid #000000;
}

div.footer-description span{
    font-family: 'WindSong', cursive;
    font-size: 25px;
}

div.footer-description p:first-child{
    margin-bottom: 10px;
}

div.svgrepo{
    margin-top: 10px;
    /*DESIGN*/
    font-style: italic;
}