/* MAIN */

.project {
        -webkit-animation: project 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: project 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes project {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}

@keyframes project {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
}

div.see-more:hover{
        background-color: silver;
}