@media (min-width:320px) and (max-width: 500px){
    
    aside{
        display: flex;
        justify-content: center;
    }

    .container-1{
        position: unset;
    }

    .contact-me{
        margin: auto;
    }

    .container-2{
        padding-left: 0px;
    }

    .footer-container{
        margin-left: 0px;
        margin-right: 0px;
        /*DESIGN*/
        backdrop-filter: blur( 4px );
        border-radius: 30px;
        border-top: 1px solid var(--color-two);
    }

}

@media (min-width:500px) and (max-width: 800px){

    aside{
        display: flex;
        justify-content: center;
    }

    .container-1{
        width: 500px;
        position: unset;
    }

    .my-info{
        display: flex;
        flex-direction: row;
    }

    .info-and-contact{
        display: flex;
        flex-direction: column;
    }

    .contact-me{
        margin: auto;
    }

    .container-2{
        padding-left: 0px;
    }

    .footer-container{
        margin-left: 0px;
        margin-right: 0px;
        /*DESIGN*/
        backdrop-filter: blur( 4px );
        border-radius: 30px;
        border-top: 1px solid var(--color-two);
    }
}