*{
   box-sizing: border-box;
   margin: 0;
}
body{
   background-image: url("../images/03.webp");
   background-attachment: fixed;
}

div.elements-container-1{
   margin: 20px;
   width: 320px;
   position: fixed;
   /*Effects*/
   background: rgba( 255, 255, 255, 0.35 );
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 13.5px );
   border-radius: 30px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div.my-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.profile-photo, div.about-me, div.contact-me, div.occupation-area{
   margin: 10px;
}

div.profile-photo img{
   width: 200px;
   border-radius: 100px;
}

div.about-me h1{
   margin-bottom: 10px;
}

div.contact-me{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 250px;
}

div.contact-me img{
   width: 28px;
}

div.occupation-area *{
   margin-bottom: 10px;
}

main{
   text-align: center;
   margin: 20px;
}
div.elements-container-2{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title{
   min-width: 320px;
   text-align: center;
   /*effects*/
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 13.5px );
   border-radius: 30px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.title hr{
   width: 50%;
   margin: auto;
}
.project{
   display: inline-block;
   width: 40%;
   margin: 2%;
   min-width: 320px;
   /*effects*/
   background: rgba( 255, 255, 255, 0.35 );
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 13.5px );
   border-radius: 30px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.project-image img{
   width: 100%;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.button-see-more{
   margin: 3%;
}
footer{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}
@media (min-width:320px) and (max-width: 800px){
   .my-info-and-contact .title .project{
      width: 100%;
   }
   .contact-me{
      padding: 0px;
   }
   footer{
      /*effects*/
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 13.5px );
      border-radius: 30px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
   }
}
@media (min-width: 800px){
   .my-info-and-contact{
      position:fixed;
      width: 25%;

   }
   .contact-me{
      padding: 0px;
   }
   main{
      padding-left: 27%;
   }
   footer{
      padding-left: 27%;
   }
   .horizontal-line-3{
      margin-left: 27%;
   }
}