body{
   background-image: url("../images/03.png");
   background-attachment: fixed;
   margin: 20px;
}
.my-info-and-contact{
   box-sizing: border-box;
   width: 25%;
   height: 93%;
   text-align: center;
   display: inline-block;
   border: solid 2px;
   background: rgba( 255, 255, 255, 0.35 );
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 13.5px );
   border-radius: 30px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
   position: fixed;
}
.profile-photo{
   width: 80%;
   clip-path: circle(41% at 50% 50%);
   border:solid;
   text-align: center;
}
.about-me{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   height: 42%;
   overflow: auto;
}
.contact-me .contact-me-icon{
   display: inline-block;
   width: 28px;
}
.vertical-line{
 height:100%;
 left: 23%;
 position: absolute;
}
main{
   padding-left: 27%;
   text-align: center;
}
.title{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 13.5px );
   border-radius: 30px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.horizontal-line-1{
   width: 50%;
}
.project{
   display: inline-block;
   width: 40%;
   margin: 2%;
   background: rgba( 255, 255, 255, 0.35 );
   box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 13.5px );
   border-radius: 30px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.project-thumbnail{
   width: 100%;
   width: -webkit-fill-available;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}
.project-name{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button-see-more{
   margin: 3%;
}
.horizontal-line-3{
   margin-left: 27%;
}
footer{
   margin-left: 27%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}