<footer>
    <div class="footer-container">
        <div class="footer-description">
            <p>Projeto desenvolvido por:<span><br>Josther Sampaio Fontes</span></p>
            <p>All Contents Copyright 2022 Josther Sampaio Fontes. All Rights Reserved</p>
        </div>
        <div class="svgrepo">
            <p>
                Vectors and icons by <a href="https://www.svgrepo.com" target="_blank">SVG Repo</a>
            </p>
        </div>
    </div>
</footer>